---
import Layout from "@layouts/Layout.astro";
import type Project from "@interfaces/project";
import {simpleSchema as projectSchema} from "@interfaces/project";

const query = {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
      {
        projects {
			${projectSchema()}
        }
      }`,
    }),
};

const response = await fetch(import.meta.env.ASTRO_APP_HYGRAPH_ENDPOINT, query);
const json = await response.json();
const projects: Project[] = json.data.projects;


const anim = {
  old: {
    name: 'fadeIn',
    duration: '0.2s',
    easing: 'ease-out',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeOut',
    duration: '0.3s',
    easing: 'ease-out',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---

<Layout title="My main page">
    <div class="project-list  w-full flex flex-row justify-center  gap-4">
        <!-- <div class="flex-1"></div> -->
        <div class="relative w-full contents">
            <div class="absolute z-50 px-4 ">
                { projects && projects.length > 0 && (
                        <div class="my-[50px]">
                            {projects.map((project) => (
                                <div class="p-4 mb-4 flex flex-col justify-center items-center max-w-md will-change-transform">
                                    {project.image && (
                                            <a href={`/projects/${project.slug}/`} data-name="project__a" data-id={project.id}>
                                                <img
                                                    class="w-full h-[460px] object-cover rounded-xl mb-[20px] will-change-transform"
                                                    src={project.image.url}
                                                    alt="A description of my image."
                                                    transition:name={`image-${project.id}`}
                                                    transition:animate={myFade}
                                                />
                                            </a>
                                    )}
    
                                    <a href={`/projects/${project.slug}/`}>
                                        <div
                                            class="font-sans text-lg max-w-lg text-balance"
                                            transition:name={`link-${project.id}`}
                                            transition:animate="none"
                                        >
                                            {project.name},
                                            <br>
                                            {project.excerpt}
                                        </div>
                                       
                                    </a>
                                </div>
                            ))}
                        </div>
                    ) }
            </div>
        </div>
        <div class="flex-1"></div>
    </div>
</Layout>