---
import Layout from "@layouts/Layout.astro";
import type Project from "@interfaces/project";
import {simpleSchema as projectSchema} from "@interfaces/project";



const query = {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
      {
        projects {
			${projectSchema()}
        }
      }`,
    }),
};

const response = await fetch(import.meta.env.ASTRO_APP_HYGRAPH_ENDPOINT, query);
const json = await response.json();
const projects: Project[] = json.data.projects;

---

<Layout title="My main page">
    <div class="project-list  w-full flex flex-col justify-center  gap-4 border-4 border-violet-500">
        <!-- <div class="flex-1"></div> -->
        <div class="relative w-full contents ">
            <div class="w-full relative ">
                {projects && projects.length > 0 && (
                    <div class="w-full my-[50px] flex flex-col items-center">
                        {projects.map((project) => (
                            <div class="card border-4 z-50 overflow-clip hover:rounded-3xl shadow-xl hover:shadow-lg flex flex-col justify-center items-center max-w-md">
                                {project.image &&                                
                                    project.featuredType === "Image" && (
                                        <a href={`/projects/${project.slug}/`} data-name="project__a" data-id={project.id}>
                                            <img
                                                class="card-media w-full h-full"
                                                data-transition-name="card-media"
                                                data-persist="true"
                                                src={project.image.url}
                                                alt={project.image.fileName}
                                            />
                                        </a>
                                    )                                                                    
                                }
                                {project.image && 
                                    project.featuredType === "Video" && (
                                        <div class="video-container" data-persist-container="true">
                                            <a  href={`/projects/${project.slug}/`} data-name="project__a" data-id={project.id} >
                                                <video
                                                    loop
                                                    muted
                                                    autoplay
                                                    class="card-media w-full h-full"
                                                    data-transition-name="card-media"
                                                    data-persist="true"
                                                    >
                                                    <source src={project.image.url} type="video/mp4" />
                                                </video>
                                            </a>
                                        </div>
                                    )
                                }


                                <a href={`/projects/${project.slug}/`}>
                                    <div class="font-sans text-lg max-w-lg md:w-[32rem] text-balance pt-20 pb-10 hidden" data-transition-name="project-description">
                                        {project.name},
                                        <br>
                                        <p class="text-balance">
                                            {project.excerpt}
                                        </p>
                                    </div>
                                    
                                </a>
                            </div>
                        ))}
                    </div>
                )}
            </div>
        </div>
        <div class="flex-1"></div>
    </div>
</Layout>


<style is:global>

    .card {
    transition: all ease-in-out .25s;
    position: relative;
  }

    .card:hover {
    transform: scale(0.97);
  }

</style>