---
import type Project from '../interfaces/project';

interface Props {
	title: string;
	project: Project
	body: string;
	href: string;
}

const { href, title, body, project } = Astro.props;
---

<div class="card bg-red-100" data-card>
	<a href={href}>
		<h2>
			<span
				transition:name={`link-${project.id}`}
				transition:animate="none"
			>{title} <span>&rarr;</span></span>
			
		</h2>
		<p transition:name={`content-${project.id}`}>
			{body}
		</p>
	</a>
</div>

<style>
	.card {
		@apply p-4 border border-[3px] border-gray-300 rounded-xl
	}

</style>
