---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import type Project from "../../interfaces/project";

const { slug } = Astro.params;

let project: Project;

try {
	const query = {
		method: "POST",
		headers: { "Content-Type": "application/json" },
		body: JSON.stringify({
			query: `query GetProjectBySlugQuery($slug: String!) {
				project(where: {slug: $slug}) {
					id
					name
					image {
						url
					}
					description
					slug
				}
			}`,
            variables: { slug }
		}),
	};

	const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
	const json = await response.json();

	project = json.data.project;

	if (!project) throw new Error("404 - Not Found");

} catch (error) {
	return Astro.redirect("/404");
}
---

<Layout title="My main page">
	<main class="container h-screen flex items-center mx-auto px-4 max-w-[600px]">
		<div>
			<a href="/" transition:name={`back`} transition:animate={`slide`}>&larr; Back</a>
			
			{project.image && <img
				class="w-full mb-[50px]"
				src={project.image.url}
				alt="A description of my image."
				transition:name={`image-${project.id}`}
				transition:animate="none"
			/>}

			{
				project && (
					<Card
						project={project}
						href={`/projects/${project.slug}`}
						title={project.name}
						body={project.description}
					/>
				)
			}
		</div>
	</main>
</Layout>
