---
import '../app.css'
import { ViewTransitions } from 'astro:transitions';
import HeaderComponent from "@components/layouts/HeaderComponent";
import FooterComponent from "@components/layouts/FooterComponent";

interface Props {
	title: string;
}

enum HeaderType {
    "Projects" = "projects",
    "Project" = "project",
    "Home" = "home",
}

const links = [
	{ href: "/projects", label: "work" },
	{ href: "/contact", label: "contact" },
	{ href: "/cv", label: "CV" },
];

const { title } = Astro.props;
const currentPath = Astro.url.pathname;

const type = ((page) => {
	if (/^\/?projects$/g.test(page)) return HeaderType.Projects;
	if (/^\/?projects\/(.*?)/g.test(page)) return HeaderType.Project;
	return HeaderType.Home;

})(currentPath);
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
        <div class="wrapper min-h-screen h-screen flex flex-col">
            <HeaderComponent type={type} client:only="react">
				<div
					transition:name={`logo`}
					transition:animate="none"
					class="flex-1 will-change-transform"
					class:list={[{'-translate-x-[500px]': type == HeaderType.Project}]}
				>
					<a href="/">
						<h1 class="font-sans uppercase text-sm">ST.ST <small class="font-serif lowercase text-sm">Designs</small>,</h1>
					</a>

				</div>
				<div class="flex-[3]"></div>
				<ul
					transition:name={`nav-right`}
					transition:animate="none"
					class="flex-1 flex flex-row justify-end items-center gap-4 will-change-transform"
					class:list={[{'translate-x-[500px]': type == HeaderType.Project}]}
				>
					{
						links.map((link) => (
							<li>
								<a class="font-sans uppercase text-xs" href={link.href}>{link.label}</a>
							</li>
						))
					}
				</ul>
			</HeaderComponent>

            <main class="flex-1 relative">
                <slot />
            </main>

            <FooterComponent client:only="react">
				<div></div>
			</FooterComponent>
        </div>
        
	</body>
</html>

<style is:global>
   

</style>
